.pagination-wrapper {
  display: flex;
  margin: 20px;
}
.page-number {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  &.selected {
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
}
.dots {
  margin-top: 3px;
}
.pagination-arrow {
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
